/*.php
/*.txt
/*.js
/*.html
/*.json
.replit
replit.nix
.htaccess
.htpasswd
/attach/
/backup/
/cache/
/counter/
/diff/
/image/
/lib/
/plugin/
/skin/.htaccess
/skin/index.html
/skin/pukiwiki.skin.php
/skin/keitai.skin.php
/skin/tdiary.skin.php
/skin/main.js
/skin/search2.js
/skin/pukiwiki.css
/skin/tdiary.css
/skin/tdiary_black.css
/wiki/
/wiki.en/


!.gitignore
!README.md
!/skin/cleaskin/*