*
!.gitignore
!skin/cleaskin/*
!skin/
!README.md
!image/add.png
!image/atom.png
!image/backup.png
!image/copy.png
!image/diff.png
!image/edit.png
!image/file.png
!image/freeze.png
!image/help.png
!image/hinad.png
!image/lirs.png
!image/list.png
!image/new.png
!image/opml.png
!image/paraedit.png
!image/rdf.png
!image/recentchanges.png
!image/reload.png
!image/rename.png
!image/rss.png
!image/rss20.png
!image/search.png
!image/unfreeze.png
!image/xml.png